#play {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    color:white;
}
#rotate {
	position: absolute;
	top: 30px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    color:white;
}
#zoom {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
    color:white;
}
#song {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color:white;
}